html {
	width: 100%;
	height: 100%;
	margin: 0px;
}

body { 
	width: 100%;
	height: 100%;
	margin: 0px;
}

.dark-primary-color    { background: #303F9F; }
.default-primary-color { background: #3F51B5; }
.light-primary-color   { background: #C5CAE9; }
.text-primary-color    { color: #FFFFFF; }
.accent-color          { background: #448AFF; }
.primary-text-color    { color: #212121; }
.secondary-text-color  { color: #757575; }
.divider-color         { border-color: #BDBDBD; }

#menusuperior {
	z-index: 10;
	width: 100%;
	height: 64px;
	position: fixed;
	display: block;
	box-shadow: 0px 4px 8px 0px #BBB;


}

#logo{
	position: absolute;
	top: 12px;
	right: 0px;
	width: 100px;
	text-decoration:none;
	color: #003366;
	font-weight: bold;
	font-size: 32px;

}

#informacion{
	position: absolute;
	top: 16px;
	left: 32px;
	text-decoration:none;

	font-weight: bold;
	font-size: 20px;	
}

.listaDesplegable{
	background: transparent;
	padding: 5px;
	font-size: 20px;
	font-weight: bold;
	line-height: 1;
	border: 0;
	border-radius: 0;
	height: 34px;
	
}

/* Estilo y comportamiento del menu de navegacion */
#menuprincipal {
	border-style: solid;
	border-width: 1px;
	box-shadow: 0px 4px 8px 0px #BBB;
	background: #FFFFFF;
	list-style:none;
	margin:0; 
	padding:0;
	width:300px;
	margin:0 auto;
	overflow: hidden;
	position: absolute;
	top: 80px;
	right: 8px;
	z-index: 10;
	box-sizing: border-box;
	position: fixed;
	-webkit-transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	transition-duration: 0.3s;	
}

#d-logo:checked ~ #menuprincipal {
	right: -300px;
}

#menuprincipal li label {
	font-weight: bold;
	color: rgba(0, 0, 0, 0.50);
	letter-spacing: 0.09em;
}

#menuprincipal li input[type='checkbox'] {
	display: none;
}

#menuprincipal li ul li input[type='checkbox'] {
	display: inline;
}

#menuprincipal li label {
	display:inline-block;
	padding:12px;
	width:100%;
}


#menuprincipal li label:hover {
	background: #C5CAE9;
}

#menuprincipal li input[type='checkbox']:checked ~ label {
	background: #3F51B5;
	color: rgba(255, 255, 255, 0.50);
}


#menuprincipal li input[type='checkbox']:checked ~ .options {
	height: auto;
	display:block;
	min-height:40px;
	max-height:100%;
}

#menuprincipal ul {
	margin:0;
	padding:0;
	overflow: hidden;

}

#menuprincipal ul li a {
	display:block;
	padding:6px 12px;
	color: #757575;
	text-decoration:none;
	/*font-weight: bold;*/
	width:100%;
}

#menuprincipal ul li a:hover {
	color: #212121;
}


.options {
	height: 0;
	display: block;
	overflow: hidden;

}

/* FIN estilo y comportamiento del menu de navegacion */

/* Inicio estilo ventana deslizable*/
.ventanadeslizable {
	box-sizing: border-box;
	position: fixed;
	left: 0;
	z-index: 3;
	color: rgba(0, 0, 0, 0.87);
	background: #FFF;
	border-style: solid;
	border-width: 1px;
	border-color: #BDBDBD;
	border-radius: 2px;
	box-shadow: 0px 4px 8px 0px #BBB;
	-webkit-transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	transition-duration: 0.3s;
}

.disparador {
    position: fixed;
    clip: rect(0, 0, 0, 0);
}

.disparadorlabel {
    position: absolute;
    z-index: 3;
	width: 30px;
	height: 30px;
    cursor: pointer;
    background-size: contain;
	
	-webkit-transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	transition-duration: 0.3s;
}

.tit1Info {
	color: rgba(0, 0, 0, 0.54);
	letter-spacing: 5px;
}

.tit2Info {
	color: rgba(0, 0, 0, 0.54);
}

.datInfo {
	color: rgba(0, 0, 0, 0.87);
}
/*Fin estilo ventana deslizable*/

/*Contenedores y titulos para reportes*/

.contendorReportes{
	margin: 10px 20px;
	overflow: hidden;
	border-style: solid;
	border-width: 1px;
	box-shadow: 0px 2px 4px 0px #BBB;
	-webkit-transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	transition-duration: 0.3s;
}

.divDosColumnas{
	margin: 0px;
	width: 100%;
}

.tituloReportes{

	margin: 0px 0px 20px 0px;
	padding: 6px;
	height: 20px;
	border-width: 1px;
	box-shadow: 0px 2px 4px 0px #BBB;
	display: block;
	color: rgba(0, 0, 0, 0.54);
	font-size: 16px;	
}


/*Fin Contenedores y titulos para reportes*/

/*Inicio estilo tablas */
.bordered {
	padding: 0px;
	margin: 50px;
	border-collapse: collapse;
	font-weight:normal;
	font-size:14px;
	text-align: right;
	border-style: solid;
	border-width: 1px;
	border-color: #BDBDBD;
	/*position: relative;*/
	top: 5px;
	width: 80%;
	border-radius: 2px;


}


.izquierda {
	text-align: left;
}

.bordered tr {
	color: rgba(0, 0, 0, 0.87);
}

.bordered th {
	font-weight: normal;
	color: rgba(0, 0, 0, 0.54);
	border-top: 1px solid #BDBDBD; 
}


.bordered td, .bordered th {
	padding: 0px 40px;
	height: 32px;
    border-bottom: 1px solid #BDBDBD; 
}

.bordered tbody tr:hover {
	background: #EEEEEE;
    -o-transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;     
}    

.tablaListado {
	border-style: none;
}

.tablaListado td, .tablaListado th{
		height: 64px;
		text-align: left;
}



/*FIN estilo tablas*/

.controlesReportes {
	font-weight: bold;
	font-size: 16px;	
}

.controlgenerico{
	padding: 5px;
	font-weight: bold;
	line-height: 1;
	border: 0;
	border-radius: 0;
	width: 100%;

}
