<!DOCTYPE html>
<html>
	<head>
		<title>{% block title %}HTML Basico{% endblock %}</title>
		<meta charset="utf-8">


{% block scripts_externos %}
{% endblock %}

		<link rel="stylesheet" href="/static/css/estilogeneral.css" type="text/css">
{% block estilo %}
{% endblock %}

	</head>
	<body>
		<div class="menu default-primary-color" id="menusuperior">
		<label class="text-primary-color" id="informacion">
{% if opt.isroot %}		
				Administrador ||
{% else %}
				{{ cli }} ||
{% endif %}	
				{{ opt.usuario }} ({{ opt.usuario.tiemposesion }} min) || 
				<select class="listaDesplegable text-primary-color" onChange="cambiarMapa(this.value)"> 
					<option value="OSM">Open Street Map</option>
					<option value="GMC">Google Maps Street</option>
					<option value="GMS">Google Maps Satelite</option>
					<option value="GMH">Google Maps Hybrid</option>
					<option value="GMT">Google Maps Terrain</option>
				</select> ||
				Alertas: {{opt.alertas}} || 
				Mensajes: {{opt.mensajes}}
			</label>
			<label for="d-logo" id="logo">Nyx</label>
		</div>
		<input class="disparador" type="checkbox" id="d-logo"></input>
		<ul class="menu divider-color" id="menuprincipal">
			<li class="block">
				<input type="checkbox" name="item" id="item1" />   
				<label for="item1">Controles</label>
				<ul class="options">
{% block controles %}
{% endblock %}
				</ul>
			</li>			
			<li class="block">
				<input type="checkbox" name="item" id="item3" />   
				<label for="item3">Móviles</label>
				<ul class="options">
					<li>
						<a href="#">
							<input type="checkbox" onClick="verOcultarMovil(this)" name="control" value="todos" checked />
							Todos / Ninguno
						</a>
					</li>
					<li>
						<a href="#">
							Buscar
							<input type="text" class="entrada-control"></input>
						</a>
					</li>
					<li>
						<div id="listadoMoviles"> 

						</div>
					</li>
					<li><a href="#">Grupo 1</a></li>
					<li><a href="#">Grupo 2</a></li>
				</ul>
			</li>
			<li class="block">
				<input type="checkbox" name="item" id="item4" />   
				<label for="item4">Geozonas</label>
				<ul class="options">
					<li><a href="#">AAA</a></li>
					<li><a href="#">BBB</a></li>
					<li><a href="#">ZZZ</a></li>
				</ul>
			</li>
			<li class="block">
				<input type="checkbox" name="item" id="item5" />   
				<label for="item5">Reportes</label>
				<ul class="options">
					<li><a href="/avl/dat/">Datos</a></li>
					<li><a href="#">Recorridos</a></li>
					<li><a href="#">Detenciones</a></li>
				</ul>
			</li>			
			<li class="block">
				<input type="checkbox" name="item" id="item5" />   
				<label for="item5">Administración</label>
				<ul class="options">
					<li><a href="#">Opción X</a></li>
					<li><a href="#">Opción Y</a></li>
					<li><a href="#">Opción Z</a></li>
				</ul>
			</li>
			<li class="block">
				<input type="checkbox" name="item" id="item2" />   
				<label for="item2">Modo</label>
				<ul class="options">
					<li><a href="/avl/">Posición Actual</a></li>
					<li><a href="/avl/rec/">Recorrido</a></li>
					<li><a href="#">Analisis de datos</a></li>
					<li><a href="Alarmas.html">Alarmas</a></li>			
				</ul>
			</li>
			<li class="block">
				<a href="/avl/cerrar" name="item" id="item6">
					<label for="item6">Cerrar Sesión</label>
				</a>
			</li>	
		</ul>

		{% block content %}

		{% endblock %}

	</body>
</html>