			<label class="tituloReportes" for="TResumen">Resumen</label>
			<input class="disparador" type="checkbox" id="TResumen"/>
			<div class="contendorReportes" id="Resumen">

			</div>
{% for movil in mov %}
			<label class="tituloReportes" for="TMovil-{{movil.id}}">{{movil.nombre}}</label>
			<input class="disparador" type="checkbox" id="TMovil-{{movil.id}}" onchange="cambiartamanio(this)"/>
			<div class="contendorReportes" id="Movil-{{movil.id}}">
				<label class="tituloReportes" for="TlistResul-{{movil.id}}">Listado</label>
				<input class="disparador" type="checkbox" id="TlistResul-{{movil.id}}" onchange="cambiartamanio(this)"/>
				<div class="contendorReportes" id="listResul-{{movil.id}}">

							<table class="bordered" id="tablainfomoviles">
								<thead>
									<tr>
										<th>Evento</th>
										<th>Fecha y Hora</th>
										<th>Latitud</th> 
										<th>Longitud</th>
										<th>Velocidad</th>
										<th>Altitud</th>
										<th>Curso</th>
										<th>Odometro</th>
									</tr>
								</thead>
					{% for posicion in pos %}
						{% if posicion.movil == movil %}								
								<tbody id="tablaPosCuerpo" >
									<td>{{posicion.evento}}</td>								
									<td>{{posicion.fechahoragps}}</td>
									<td>{{posicion.latitud}}</td>
									<td>{{posicion.longitud}} </td>
									<td>{{posicion.velocidad}}</td>
									<td>{{posicion.altitud}}</td>
									<td>{{posicion.curso}}</td>
									<td>{{posicion.odometro}}</td>
								</tbody>
						{% endif %}
					{% endfor %}								
								<tfoot>
									<tr>
										<td colspan="8" id="pieTabla"></td>
									</tr>			
								</tfoot>
							</table>

				</div>
				<label class="tituloReportes" for="TGraf-{{movil.id}}">Gráfico</label>
				<input class="disparador" type="checkbox" id="TGraf-{{movil.id}}" onchange="cambiartamanio(this)"/>
				<div class="contendorReportes" id="Graf-{{movil.id}}">
					Grafico {{movil.nombre}}
				</div>
			</div>
{% endfor %}