{% block titulo %}<title>Ingresa al sistema</title>{% endblock %}
{% block encabezado %}
	<h1>Ingresa</h1>
{% endblock %}
{% block contenido %}
	<form id='formulario' method='post' action=''>{% csrf_token %}
		<table>{{formulario}}</table>
		<p><input type='submit' value='Ingresar'/></p>
		<p><input type='button' value='Crear Usuario' onclick = 'window.location.href = "nuevousuario/"'/></p>
	</form>
{% endblock %}