{% extends "base.html" %}
{% block title %}Posición actual{% endblock %}

{% block scripts_externos %}
		<script src="/static/date.format.js"></script>
		<script src="/static/OLv3.15.1/build/ol-debug.js"></script>
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD1NYz15nRhutElbDuQxcPBgyuVLki3-Ns"></script>
{% endblock %}

{% block estilo %}
		<link rel="stylesheet" href="/static/OLv3.15.1/css/ol.css" type="text/css">
		<style>
		#Tfiltro:checked ~ #Filtros {
			height: 0px;
		}

		#TPlanificacion:checked ~ #Planificacion {
			height: 0px;
		}

		#TResultados:checked ~ #Resultados {
			height: 0px;
		}

		#TResumen:checked ~ #Resumen {
			height: 0px;
		}	

		#TMovil-1:checked ~ #Movil-1 {
			height: 0px;
		}

		#TlistResul-1:checked ~ #listResul-1 {
			height: 0px;
		}

		#TGrafico-1:checked ~ #Grafico-1 {
			height: 0px;
		}

		#TMovil-2:checked ~ #Movil-2 {
			height: 0px;
		}

		#TlistResul-2:checked ~ #listResul-2 {
			height: 0px;
		}

		#TGrafico-2:checked ~ #Grafico-2 {
			height: 0px;
		}						
			
		</style>
{% endblock %}



{% block content %}
		<div style="height: 80px"></div>

		<label class="tituloReportes" for="Tfiltro">Filtro</label>
		<input class="disparador" type="checkbox" id="Tfiltro"/>
		<div class="contendorReportes" id="Filtros">
			<ul>
				<li>Moviles</li>
				<li>Fecha</li>
				<li>Eje X (Tiempo / Odometro)</li>
				<li>Eje Y (Velocidad / Curso / Nivel de Tanque / Consumo / Temperatura)</li> 
			</ul>
		</div>
		<label class="tituloReportes" for="TPlanificacion">Planificación</label>
		<input class="disparador" type="checkbox" id="TPlanificacion"/>
		<div class="contendorReportes" id="Planificacion">
			<ul>
				<li>día de la semana</li>
				<li>hora</li>
				<li>destinatario</li>
				<li>guardar</li>
			</ul>
		</div>
		<label class="tituloReportes" for="TResultados">Resultados</label>
		<input class="disparador" type="checkbox" id="TResultados"/>
		<div class="contendorReportes" id="Resultados">
			<label class="tituloReportes" for="TResumen">Resumen</label>
			<input class="disparador" type="checkbox" id="TResumen"/>
			<div class="contendorReportes" id="Resumen">
				Resumen
			</div>
			<label class="tituloReportes" for="TMovil-1">Movil 1</label>
			<input class="disparador" type="checkbox" id="TMovil-1"/>
			<div class="contendorReportes" id="Movil-1">
				<label class="tituloReportes" for="TlistResul-1">Listado</label>
				<input class="disparador" type="checkbox" id="TlistResul-1"/>
				<div class="contendorReportes" id="listResul-1">
					Listado 1
				</div>
				<label class="tituloReportes" for="TGrafico-1">Gráfico</label>
				<input class="disparador" type="checkbox" id="TGrafico-1"/>
				<div class="contendorReportes" id="Grafico-1">
					Grafico 1
				</div>
			</div>


			<label class="tituloReportes" for="TMovil-2">Movil 2</label>
			<input class="disparador" type="checkbox" id="TMovil-2"/>
			<div class="contendorReportes" id="Movil-2">
				<label class="tituloReportes" for="TlistResul-2">Listado</label>
				<input class="disparador" type="checkbox" id="TlistResul-2"/>
				<div class="contendorReportes" id="listResul-2">
					Listado 2
				</div>
				<label class="tituloReportes" for="TGrafico-2">Gráfico</label>
				<input class="disparador" type="checkbox" id="TGrafico-2"/>
				<div class="contendorReportes" id="Grafico-2">
					Grafico 2
				</div>
			</div>
	

		</div>



		<script>
		</script>

{% endblock %}