{% extends "base.html" %}

{% block scripts_externos %}
		<script src="/static/date.format.js"></script>
		<script src="/static/OLv3.15.1/build/ol-debug.js"></script>
{% endblock %}

{% block estilo %}
		<link rel="stylesheet" href="/static/OLv3.15.1/css/ol.css" type="text/css">

{% endblock %}



{% block content %}
		<div style="height: 80px"></div>

		
		<div class="contendorReportes divider-color" id="Filtros">
			<label class="tituloReportes" id="Tfiltro" onclick="cambiartamanio(this)">Filtro</label>

{% block filtros %}
{% endblock %}

		</div>

		<div class="contendorReportes divider-color" id="Planificacion">
			<label class="tituloReportes" id="TPlanificacion" onclick="cambiartamanio(this)">Planificación</label>
			<ul>
{% block planificacion %}
{% endblock %}
		</div>
		
		<div class="contendorReportes divider-color" id="Resultados">
			<label class="tituloReportes" id="TResultados" onclick="cambiartamanio(this)">Resultados</label>
			<div id="ResultadosDIV">
			</div>
		</div>

		<div id="DetallesDIV">
		</div>


{% block javascript %}
{% endblock %}


{% endblock %}