{% block titulo %}<title>Usuario desactivado</title>{% endblock %}
{% block encabezado %}
	<h1>El usuario no está activo</h1>
{% endblock %}
{% block contenido %}
	<p>Contactarse con el administrador para resolver el problema.</p>
{% endblock %}