{% block titulo %}<title>Nuevo Usuario</title>{% endblock %}
{% block encabezado %}
	<h1>Registra un nuevo usuario</h1>
{% endblock %}
{% block contenido %}
	<form id='formulario' method='post' action=''>{% csrf_token %}
		<table>{{form}}</table>
		<p><input type='submit' value='Registrar'/></p>
		<p><input type='button' value='Ingresar' onclick = 'window.location.href = "/avl/"'/></p>
	</form>
{% endblock %}