{% extends "base.html" %}
{% block title %}Posición actual{% endblock %}

{% block scripts_externos %}
		<script src="/static/date.format.js"></script>
		<script src="/static/OLv3.15.1/build/ol-debug.js"></script>
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD1NYz15nRhutElbDuQxcPBgyuVLki3-Ns"></script>
{% endblock %}

{% block estilo %}
		<link rel="stylesheet" href="/static/OLv3.15.1/css/ol.css" type="text/css">
		<style>


/*Pop up informacion*/

			label[for="d-infomovil"] {
				right:-35px;
			}

			#infomovil{
				top:80px;
				left: -280px;
				width: 280px;
			}
			 
			#d-infomovil:checked ~ #infomovil {
				left: 8px;
			}

			label[for="d-tablamovil"] {
				top:-35px;
				right: 0px;
			}

/*Tabla listado moviles*/
			label[for="d-tablamovil"] {
				top:-35px;
				right: 0px;
			}

			#tablamovil{
				bottom :-200px;
				width: 100%;
				height: 200px;
				/*overflow-y:visible;
				overflow-x:hidden;*/
			}
			 
			#d-tablamovil:checked ~ #tablamovil {
				bottom: 0px;
			}


			#tablainfomoviles {
				width: 95%;
			}

			#contenedortabla {
				height: 200px;
				overflow-y:visible;
				overflow-x:hidden;
			}
/*Mapa de fondo */			

			.mapafondo {
				/*z-index: 1;*/
				width: 100%;
				height: 100%;
				position: absolute;
			}

			.entrada-control{
				display: inline;
				width: 40%;
				float: right;
				margin-right: 15px;

			}

		</style>
{% endblock %}

{% block controles %}
{% if opt.isroot %}				
<li>
	<a href="#">
		Cliente
		<select onChange="actualizarMoviles(this.value)" class="entrada-control">
			<option value="todos">Todos los clientes</option>
{% for cliente in cli %}	
			<option value="{{cliente.nombre}}">{{cliente.nombre}}</option>
{% endfor %}
		</select>
	</a>
</li>
{% endif %}	
<li>
	<a href="#">
		Filtro estado
		<select class="entrada-control">
			<option value="enc">Encendio</option>
			<option value="apa">Apagado</option>
			<option value="det">Detenido</option>
			<option value="mov">En movimiento</option>
		</select>
	</a>

</li>
<li>
	<a href="#">
		Filtro velocidad
		<input type="text" class="entrada-control"></input>
	</a>
</li>
<li>
	<a href="#">
		Fecha y hora
		<input type="text" class="entrada-control"></input>
	</a>
</li>
{% endblock %}



{% block content %}
		<div class="mapafondo" id="gmapa"></div>
		<div class="mapafondo" id="mapa"></div>


		<input class="disparador" type="checkbox" id="d-infomovil"></input>
		<div class="ventanadeslizable" id="infomovil">
			<label class="disparadorlabel" for="d-infomovil" onClick="animar(this)">
				<svg enable-background="new 0 0 32 32" height="32px" id="Layer_1" version="1.1" viewBox="0 0 32 32" width="32px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
					<path d="M24.291,14.276L14.705,4.69c-0.878-0.878-2.317-0.878-3.195,0l-0.8,0.8c-0.878,0.877-0.878,2.316,0,3.194  L18.024,16l-7.315,7.315c-0.878,0.878-0.878,2.317,0,3.194l0.8,0.8c0.878,0.879,2.317,0.879,3.195,0l9.586-9.587  c0.472-0.471,0.682-1.103,0.647-1.723C24.973,15.38,24.763,14.748,24.291,14.276z" fill="#515151">
						<animateTransform class='rot1' attributeType='xml' attributeName='transform' type='rotate' begin='indefinite' from='0 16 16' to='180 16 16' dur='0.3s' fill="freeze"/>
						<animateTransform class='rot2' attributeType='xml' attributeName='transform' type='rotate' begin='indefinite' from='180 16 16' to='0 16 16' dur='0.3s' fill="freeze"/>	
					</path>
				</svg>
			</label>
			<table id="infomoviltexto">
				<tr><td class="tit1Info" colspan="2" align="center">Nombre Movil</td></tr>
				<tr><td class="tit2Info">Patente: </td><td class="datInfo">NNN 000</td></tr>
				<tr><td class="tit2Info">Marca: </td><td class="datInfo">XXX</td></tr>
				<tr><td class="tit2Info">Modelo: </td><td class="datInfo">XXX</td></tr>
				<tr><td class="tit2Info">Color: </td><td class="datInfo">XXX</td></tr>
				<tr><td class="datInfo" colspan="2" align="center">---------------------------------</td></tr>
				<tr><td class="tit1Info" colspan="2" align="center">Posición</td></tr>
				<tr><td class="tit2Info">Dirección </td><td class="datInfo">Mendoza, argentina</td></tr>
				<tr><td class="tit2Info">Latitud: </td><td class="datInfo">32.0000</td></tr>
				<tr><td class="tit2Info">Longitud: </td><td class="datInfo">68.0000</td></tr>
				<tr><td class="tit2Info">Fecha: </td><td class="datInfo">Dia mes año</td></tr>
				<tr><td class="tit2Info">Velocidad: </td><td class="datInfo">xx km/h</td></tr>					
				<tr><td class="tit2Info">Odometro: </td><td class="datInfo">xx km</td></tr>
				<tr><td class="tit2Info">Evento: </td><td class="datInfo">xxxxxxx</td></tr>
				<tr><td class="tit2Info">Estado: </td><td class="datInfo">xxxxxxx</td></tr>
				<tr><td class="tit2Info">Antigüedad: </td><td class="datInfo">xxxxxxx</td></tr>
				<tr><td class="tit2Info">Detenido: </td><td class="datInfo">xxxxxxx</td></tr>

			</table>
		</div>

		<input class="disparador" type="checkbox" id="d-tablamovil"></input>
		<div class="ventanadeslizable" id="tablamovil">
			<label class="disparadorlabel" for="d-tablamovil" onClick="animar(this)">
				<svg enable-background="new 0 0 32 32" height="32px" id="Layer_1" version="1.1" viewBox="0 0 32 32" width="32px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
					<path d="M18.221,7.206l9.585,9.585c0.879,0.879,0.879,2.317,0,3.195l-0.8,0.801c-0.877,0.878-2.316,0.878-3.194,0  l-7.315-7.315l-7.315,7.315c-0.878,0.878-2.317,0.878-3.194,0l-0.8-0.801c-0.879-0.878-0.879-2.316,0-3.195l9.587-9.585  c0.471-0.472,1.103-0.682,1.723-0.647C17.115,6.524,17.748,6.734,18.221,7.206z" fill="#515151">
						<animateTransform class='rot1' attributeType='xml' attributeName='transform' type='rotate' begin='indefinite' from='0 16 16' to='180 16 16' dur='0.3s' fill="freeze"/>
						<animateTransform class='rot2' attributeType='xml' attributeName='transform' type='rotate' begin='indefinite' from='180 16 16' to='0 16 16' dur='0.3s' fill="freeze"/>	
					</path>
				</svg>
			</label>
			<div id="contenedortabla">
				<table class="bordered" id="tablainfomoviles">
					<thead>
						<tr>
							<th>Movil</th>
							<th>Patente</th> 
							<th>Fecha y Hora</th>
							<th>Latitud</th>
							<th>Longitud</th>
							<th>Ubicación</th>
							<th>Velocidad</th>
							<th>Evento</th>
							<th>Estado</th>
						</tr>
					</thead>
					<tbody id="tablaPosCuerpo" >

					</tbody>
					<tfoot>
						<tr>
							<td colspan="9" id="pieTabla"></td>
						</tr>			
					</tfoot>
				</table>
			</div>
		</div>

		<script>

		/**********************FUNCIONES**********************/
		/*****************************************************/
		function getCookie(name) {
			var value = "; " + document.cookie;
			var parts = value.split("; " + name + "=");
			if (parts.length == 2) return parts.pop().split(";").shift();
		}

		function getPosicionesAjax(){
			var xmlHttp = new XMLHttpRequest;
			xmlHttp.open('post','/avl/puntos/',true);
			var x = getCookie('csrftoken');
			xmlHttp.setRequestHeader("X-CSRFToken", x);
			xmlHttp.send(JSON.stringify({'cliente':0,'modo':'arrDicc','campos':['movil','latitud','longitud','velocidad','odometro','evento','altitud','fechahoragps','tiempodetenido','ignicion']}));
			xmlHttp.onreadystatechange = function(){
				if (xmlHttp.readyState == 4){
					if (xmlHttp.status == 200){
						var obj = JSON.parse(xmlHttp.responseText);
						posiciones=obj;
						actualizarMarcadores(obj);
						//agregarMovilesTabla(moviles,obj);
					}
				}
			}
		}


		function actualizarMarcadores(pos){

			source.clear();
			marcadores=[];
			for (var j=0;j<pos.length;j++){
				var marcador=new ol.Feature({
					name: pos[j].movil,
					geometry: new ol.geom.Point(ol.proj.transform([pos[j].longitud, pos[j].latitud], 'EPSG:4326', 'EPSG:3857'))
				});

				marcador.set('movilID',pos[j].movil);
				marcador.set('ignicion',pos[j].ignicion);
				marcador.set('icono',2);
				marcador.set('movimiento',(pos[j].velocidad>5)? 1 : 0);
				marcadores.push(marcador);
			}
			source.addFeatures(marcadores);

//		a=punto2.getGeometry();
//		a.setCoordinates(ol.proj.transform([-55.0, -40.0], 'EPSG:4326', 'EPSG:3857'));

		}


		function estiloIcono(f,r){
			var ig=f.get('ignicion');
			var ic=f.get('icono');
			var mo=f.get('movimiento');
			estilo = new ol.style.Style({
				image: new ol.style.Icon({
					scale: 0.6,
					anchor: [0.5,1],
					src: '/avl/iconoMovil/'+ig+'-00'+ic+'-'+mo+'.svg'

				})
			});

			return estilo;


		}
		function animar(fuente){
			var a = document.getElementById(fuente.htmlFor);
			if (a.checked)
				fuente.getElementsByClassName('rot2')[0].beginElement();
			else
				fuente.getElementsByClassName('rot1')[0].beginElement();
		}


		var displayFeatureInfo = function(pixel) {
			var features = [];
			map.forEachFeatureAtPixel(pixel, function(feature, layer) {
				features.push(feature);
			});
			if (features.length > 0) {
				for (var i = moviles.length - 1; i >= 0; i--) {
					if (moviles[i].movilID==features[0].get('movilID'))
						break;
				}
				for (var j = posiciones.length - 1; j >= 0; j--) {
					if (posiciones[j].movil==features[0].get('movilID'))
						break;
				}				

					
				var hoy = new Date();
				var disparador_info = document.getElementById("d-infomovil");
				var celdas = document.getElementsByClassName("tit1Info");
				celdas[0].innerHTML=moviles[i].nombre;
				var celdas = document.getElementsByClassName("datInfo");
				
				if (disparador_info.checked==false){
					animar(document.getElementsByClassName("disparadorlabel")[0]);
					disparador_info.checked=true;
				}

				
				var fecha=new Date(posiciones[j].fechahoragps*1000);
				celdas[0].innerHTML=moviles[i].dominio;
				celdas[1].innerHTML=moviles[i].marca;
				celdas[2].innerHTML=moviles[i].modelo;
				celdas[3].innerHTML=moviles[i].color;
				celdas[6].innerHTML=posiciones[j].latitud;
				celdas[7].innerHTML=posiciones[j].longitud;
				celdas[8].innerHTML=fecha.format('dd/mm/yyyy HH:MM:ss');
				celdas[9].innerHTML=posiciones[j].velocidad;
				celdas[10].innerHTML=posiciones[j].odometro;
				celdas[11].innerHTML=posiciones[j].evento;
				var cadena='Apagado';
				if (posiciones[j].ignicion)
					cadena='Encendedio';
				if (posiciones[j].velocidad>3)
					cadena=cadena+'/En movimiento'
				else
					cadena=cadena+'/Detenido'
				celdas[12].innerHTML=cadena;

				celdas[13].innerHTML=Math.floor((hoy.getTime()-posiciones[j].fechahoragps*1000)/60000) + ' Minutos';
				celdas[14].innerHTML=Math.floor(posiciones[j].tiempodetenido/60) + ' Minutos';
			}
		};


		function cambiarMapa(valor){
			capas=map.getLayers();
			var a = capas.getLength();
			for (var i = 0; i < a; i++) {
				map.removeLayer(capas.item(0));
			}

			vistaClonada.setCenter(map.getView().getCenter());
			vistaClonada.setZoom(map.getView().getZoom());
			if (valor=='GMC'){
				gmap.setMapTypeId(google.maps.MapTypeId.ROADMAP);
				map.setView(vistaClonada);
			}
			else if (valor=='GMS'){
				gmap.setMapTypeId(google.maps.MapTypeId.SATELLITE);
				map.setView(vistaClonada);
			}
			else if (valor=='GMH'){
				gmap.setMapTypeId(google.maps.MapTypeId.HYBRID);
				map.setView(vistaClonada);
			}
			else if (valor=='GMT'){
				gmap.setMapTypeId(google.maps.MapTypeId.TERRAIN);
				map.setView(vistaClonada);
			}
			else if (valor=='OSM'){
				map.setView(new ol.View({center: map.getView().getCenter(), zoom: map.getView().getZoom()}))
				map.addLayer(new ol.layer.Tile({source: new ol.source.OSM()}));
			}

			capas=map.getLayers();
			map.addLayer(vector);
			
			
		}

		/*******************************************************/
		/*******************************************************/

		
		var mapOptions = {zoom: 5,	center: new google.maps.LatLng(0, 0), disableDefaultUI: true};
		var gmap = new google.maps.Map(document.getElementById('gmapa'), mapOptions);
		var marcadores = [];
		var posiciones;
		var source = new ol.source.Vector({wrapX: false});
		var vector = new ol.layer.Vector({
			source: source,
			style: estiloIcono,
		});

		
		

		var vistaClonada = new ol.View({
			// make sure the view doesn't go beyond the 22 zoom levels of Google Maps
			center: [0, 0], zoom: 5,
			maxZoom: 21
		});
		vistaClonada.on('change:center', function() {
			var center = ol.proj.transform(vistaClonada.getCenter(), 'EPSG:3857', 'EPSG:4326');
			gmap.setCenter(new google.maps.LatLng(center[1], center[0]));
		});
		vistaClonada.on('change:resolution', function() {
			gmap.setZoom(vistaClonada.getZoom());
		});


		var map = new ol.Map(
		{
			layers: [new ol.layer.Tile({source: new ol.source.OSM()}),vector],
			target: 'mapa',
			controls: ol.control.defaults({attributionOptions: ({collapsible: false})}),
			view: new ol.View({center: [0, 0], zoom: 5})
		});



		map.on('click', function(evt) {
			var pixel = evt.pixel;
			displayFeatureInfo(pixel);
		});



		var moviles=[{% for movil in mov %}		
			{
			'movilID': {{movil.id}},
			'nombre': '{{movil.nombre}}',
			'dominio': '{{movil.vehiculo.dominio}}',
			'marca': '{{movil.vehiculo.marca}}',
			'modelo': '{{movil.vehiculo.modelo}}',
			'color': '{{movil.vehiculo.color}}',
			'propietario': '{{movil.propietario}}'
			},{% endfor %}				
		];			


		getPosicionesAjax(); //Trae datos del listado de moviles 
		setInterval(getPosicionesAjax,30000); // Ejecutar actualizacion de marcadores cada 30 segundos

	


		</script>
{% endblock %}