{% extends "listadodatosgenerico.html" %}
{% block title %}Reporte de datos{% endblock %}

<style type="text/css">
#movilesSeleccionados {
	min-width:: 200px;
}	

</style>



{% block filtros %}
			<div>
				<table class="controlesReportes">
					<tr>
						<td class="titulocontrol">Movil: </td>
						<td>
							<select id="listaMoviles" class="controlgenerico">
							{% for movil in mov %}
								<option value="{{movil.id}}">{{movil.nombre}}</option>
							{% endfor %}
							</select>
						</td>
						<td rowspan=6>
							<button class="controlgenerico" onclick="agregarMovil()">Agregar</button>
							<select class="controlgenerico" size="8" id="movilesSeleccionados"></select>
						</td>
					</tr>
					<tr><td class="titulocontrol">Desde: </td><td><input type="textbox" id="desde"/></td></tr>
					<tr><td class="titulocontrol">Hasta: </td><td><input type="textbox" id="hasta"/></td></tr>
					<tr>
						<td class="titulocontrol">Eje horizontal: </td>
						<td>
							<select id="ejex" class="controlgenerico"> 
								<option value="1">Tiempo</option>
								<option value="2">Distancia</option>
							</select> 						
						</td>
					</tr>
					<tr>
						<td class="titulocontrol">Eje vertical: </td>
						<td>
							<select id="ejey" class="controlgenerico"> 
							{% for variable in var %}
								<option value="{{variable.id}}">{{variable.nombre}}</option>
							{% endfor %}
							</select> 						
						</td>
					</tr>
					<tr><td colspan="2"><button class="controlgenerico" onclick="getListadoAjax()">Consultar</button></td></tr>
				</table>
			</div>
{% endblock %}


{% block planificacion %}
				<table class="controlesReportes">
					<tr>
						<tr>
							<td class="titulocontrol">Destinatario: </td>
							<td><input type="textbox" name="destinatario"/></td>
							<td rowspan=4>
								<button class="controlgenerico">Agregar</button>
								<select class="controlgenerico" size="4" id="destSeleccionados"></select>
							</td>
						</tr>
						<td class="titulocontrol">Días: </td>
						<td>
							<input type="checkbox" name="lun">Lunes</input>
							<input type="checkbox" name="mar">Martes</input>
							<input type="checkbox" name="mie">Miercoles</input>
							<input type="checkbox" name="jue">Jueves</input>
							<input type="checkbox" name="vie">Viernes</input>
							<input type="checkbox" name="sab">Sábado</input>
							<input type="checkbox" name="dom">Domingo</input>
						</td>
						<tr><td class="titulocontrol">Hora: </td><td><input type="textbox" name="hora"/></td></tr>
						<tr><td colspan="2"><button class="controlgenerico">Guardar</button></td></tr>
				</table>
{% endblock %}


	



{% block javascript %}
<script type="text/javascript" src="/static/flotr2.min.js"></script>
<script type="text/javascript">
function agregarMovil() {
	var m = document.getElementById("listaMoviles");
	var x = document.getElementById("movilesSeleccionados");

	var option = document.createElement("option");
	option.text = m.options[m.selectedIndex].text;
	option.value = m.options[m.selectedIndex].value;
	x.add(option);
	m.remove(m.selectedIndex);
}

function getCookie(name) {
	var value = "; " + document.cookie;
	var parts = value.split("; " + name + "=");
	if (parts.length == 2) return parts.pop().split(";").shift();
}

function getListadoAjax(){
	var xmlHttp = new XMLHttpRequest;
	xmlHttp.open('post','/avl/datos/',true);
	var x = getCookie('csrftoken');
	xmlHttp.setRequestHeader("X-CSRFToken", x);
	var s = document.getElementById("movilesSeleccionados");
	m=[];
	for (var i = 0; i < s.options.length; i++) {
		m.push(parseInt(s.options[i].value));
	}
	var ex = document.getElementById("ejex");
	var ey = document.getElementById("ejey");
	//xmlHttp.send(JSON.stringify({'moviles':m,'desde':document.getElementById("desde").value,'hasta':document.getElementById("hasta").value ,'ejex':ex.options[ex.selectedIndex].value ,'ejey':ey.options[ey.selectedIndex].value }));
	var campos=[1,2,3,4,5,6];
	if  (campos.indexOf(parseInt(ey.options[ey.selectedIndex].value)) == -1)
		campos.push(parseInt(ey.options[ey.selectedIndex].value));

	xmlHttp.send(JSON.stringify({'moviles':m,'desde':document.getElementById("desde").value,'hasta':document.getElementById("hasta").value ,'campos': campos}));

	xmlHttp.onreadystatechange = function(){
		if (xmlHttp.readyState == 4){
			if (xmlHttp.status == 200){
				var obj = JSON.parse(xmlHttp.responseText);
				document.getElementById("TResultados").style.margin="0";
				res=document.getElementById("ResultadosDIV");

				while (res.firstChild) {
    				res.removeChild(res.firstChild);
				}

				var tablalist = document.createElement("TABLE");
				tablalist.className = "bordered tablaListado";
				tablalist.style.width="100%";
				tablalist.style.margin="0";
				var encabezado0 = tablalist.createTHead();
				encabezado=encabezado0.insertRow();
				celda=document.createElement("th");
				celda.innerHTML='Seleccionar'
				encabezado.appendChild(celda);				
				celda=document.createElement("th");
				celda.innerHTML='Nombre'
				encabezado.appendChild(celda);
				celda=document.createElement("th");
				celda.innerHTML='Cantidad'
				encabezado.appendChild(celda);
				celda=document.createElement("th");
				celda.innerHTML='Distancia'
				encabezado.appendChild(celda);
				celda=document.createElement("th");
				celda.innerHTML='Promedio'
				encabezado.appendChild(celda);
				celda=document.createElement("th");
				celda.innerHTML='Máximo'
				encabezado.appendChild(celda);
				celda=document.createElement("th");
				celda.innerHTML='Mínimo'
				encabezado.appendChild(celda);								
				celda=document.createElement("th");
				celda.innerHTML='Mapa'
				encabezado.appendChild(celda);
				celda=document.createElement("th");
				celda.innerHTML='Listado'
				encabezado.appendChild(celda);	
				var cuerpolist = tablalist.createTBody();	

				res.appendChild(tablalist);														
						
				res=document.getElementById("DetallesDIV");
				while (res.firstChild) {
					res.removeChild(res.firstChild);
				}
						
				
				for (var h = 0; h < obj.length; h++) {


					fila=cuerpolist.insertRow();
					celda=fila.insertCell();
					ip=document.createElement("input");
					ip.type="checkbox";
					celda.appendChild(ip);	
					celda=fila.insertCell();
					celda.innerHTML=obj[h]['nombreMovil'];
					celda=fila.insertCell();
					cantidadPuntos=obj[h]['puntos'].length;
					celda.innerHTML=cantidadPuntos;	

					if (cantidadPuntos==0){
						celda=fila.insertCell();
						celda.innerHTML='---';
						celda=fila.insertCell();
						celda.innerHTML='---';						
						celda=fila.insertCell();
						celda.innerHTML='---';
						celda=fila.insertCell();
						celda.innerHTML='---';	
					}
					else {
						celda=fila.insertCell();
						celda.innerHTML=(obj[h]['puntos'][0][1]-obj[h]['puntos'][cantidadPuntos-1][1])/1000;
						promedio=0;
						maximo=minimo=obj[h]['puntos'][0][campos.indexOf(parseInt(ey.options[ey.selectedIndex].value))];
						
						for (var i = 0; i < obj[h]['puntos'].length; i++) {
							promedio+=obj[h]['puntos'][i][campos.indexOf(parseInt(ey.options[ey.selectedIndex].value))]
							if (obj[h]['puntos'][i][campos.indexOf(parseInt(ey.options[ey.selectedIndex].value))]>maximo){
								maximo=obj[h]['puntos'][i][campos.indexOf(parseInt(ey.options[ey.selectedIndex].value))];
							}
							if (obj[h]['puntos'][i][campos.indexOf(parseInt(ey.options[ey.selectedIndex].value))]<minimo){
								minimo=obj[h]['puntos'][i][campos.indexOf(parseInt(ey.options[ey.selectedIndex].value))];
							}						
						}
						promedio=promedio/obj[h]['puntos'].length;

						celda=fila.insertCell();
						celda.innerHTML=promedio;
						celda=fila.insertCell();
						celda.innerHTML=maximo;
						celda=fila.insertCell();
						celda.innerHTML=minimo;	
					}


					celda=fila.insertCell();
					ip=document.createElement("input");
					ip.type="checkbox";
					ip.id="im"+obj[h]['idMovil'];
					ip.setAttribute('onclick', 'ocultarMostrar(this)');	
					ip.setAttribute('checked', 'true');				
					celda.appendChild(ip);
					celda=fila.insertCell();
					ip=document.createElement("input");
					ip.type="checkbox";
					celda.appendChild(ip);									


					var titulo = document.createElement("label");
					titulo.className="tituloReportes";
					titulo.innerHTML=obj[h]['nombreMovil'];
					titulo.setAttribute('onclick', 'cambiartamanio(this)');

					var contenedor = document.createElement("div");
					contenedor.className="contendorReportes divider-color";
					contenedor.id="Mov-"+obj[h]['idMovil'];



					datosGrafico=[];
					var coordinates = [];
					for (var i = 0; i < obj[h]['puntos'].length; i++) {
						puntoGrafico=[];
						if (parseInt(ex.options[ex.selectedIndex].value) == 1){
							puntoGrafico.push(obj[h]['puntos'][i][0]*1000)
						}
						else if (parseInt(ex.options[ex.selectedIndex].value) == 2){
							puntoGrafico.push(obj[h]['puntos'][i][1]/1000)
						}
						
						puntoGrafico.push(obj[h]['puntos'][i][campos.indexOf(parseInt(ey.options[ey.selectedIndex].value))])
						datosGrafico.push(puntoGrafico)
						coordinates.push(ol.proj.transform([obj[h]['puntos'][i][5]/100000, obj[h]['puntos'][i][4]/100000], 'EPSG:4326', 'EPSG:3857'));
					
					}

	


					grafico=document.createElement("div");
					grafico.id="graf"+obj[h]['idMovil'];
					grafico.style.height="300px";
					grafico.style.width="70%";
					grafico.style.display="inline-block";
					mapa=document.createElement("div");
					mapa.id="mapa"+obj[h]['idMovil'];
					mapa.style.height="300px";
					mapa.style.width="30%";
					mapa.style.display="inline-block";



					


					divDosColumnas=document.createElement("div");
					divDosColumnas.style.className="divDosColumnas"

					res.appendChild(contenedor);
					contenedor.appendChild(titulo);
					contenedor.appendChild(divDosColumnas);
					divDosColumnas.appendChild(grafico);
					divDosColumnas.appendChild(mapa);
					
					

					

					var formato={
						colors: ['#222266'],
						grid: {
							tickColor: '#666666'
						}
					}
					if (parseInt(ex.options[ex.selectedIndex].value) == 1){
						var formato={
							colors: ['#222266'],
							xaxis: {
								mode : 'time',
								timeformat : '%HH/%M/%s'
							},
							grid: {
								tickColor: '#666666'
							}
						}
					}

					Flotr.draw(grafico, [datosGrafico],formato);

					var source = new ol.source.Vector({wrapX: false});
					var vector = new ol.layer.Vector({
						source: source,
					});



					var feat = new ol.Feature({
								geometry: new ol.geom.LineString(coordinates),
								name: 'Line'
							});

					source.addFeature(feat);

					var map = new ol.Map(
					{
						layers: [new ol.layer.Tile({source: new ol.source.OSM()}),vector],
						target: mapa,
						controls: ol.control.defaults({attributionOptions: ({collapsible: false})}),
						view: new ol.View({center: [0, 0], zoom: 5})
					});
				}
				var extent = feat.getGeometry().getExtent();
				map.getView().fit(extent,map.getSize());




			}
		}
	}
}

function ocultarMostrar(elemento){
	numeromovil=elemento.id.slice(2);
	grafico=document.getElementById("graf"+numeromovil);

	if (elemento.checked){
		document.getElementById("mapa"+numeromovil).style.width="30%";
		grafico.style.width="70%";
	}
	else {
		document.getElementById("mapa"+numeromovil).style.width=0;
		grafico.style.width="100%";
	}
	Flotr.draw(grafico, grafico.graph.data,grafico.graph.options);


}

function mostrarTabla(objetos){


	var tabla = document.createElement("TABLE");
	tabla.className = "bordered";
	tabla.style.margin="50px auto";
	var encabezado0 = tabla.createTHead();
	encabezado=encabezado0.insertRow();
	celda=document.createElement("th");
	celda.innerHTML='Fecha'
	encabezado.appendChild(celda);
	celda=document.createElement("th");
	celda.innerHTML='Hora'
	encabezado.appendChild(celda);
	celda=document.createElement("th");
	celda.className="izquierda";
	celda.innerHTML='Evento'
	encabezado.appendChild(celda);
	celda=document.createElement("th");
	celda.innerHTML='Latitud'
	encabezado.appendChild(celda);
	celda=document.createElement("th");
	celda.innerHTML='Longitud'
	encabezado.appendChild(celda);								
	celda=document.createElement("th");
	celda.innerHTML='Odometro [km]'
	encabezado.appendChild(celda);
	celda=document.createElement("th");
	celda.innerHTML='Velocidad [km/h]'
	encabezado.appendChild(celda);
	celda=document.createElement("th");
	celda.innerHTML='Altitud'
	encabezado.appendChild(celda);	

	var cuerpo = tabla.createTBody();


	for (var i = 0; i < obj[h]['puntos'].length; i++) {
		fila=cuerpo.insertRow();
		celda=fila.insertCell()
		var fecha=new Date(obj[h]['puntos'][i][0]*1000);
		celda.innerHTML=fecha.format('dd/mm/yyyy'); //Fecha
		celda=fila.insertCell()
		celda.innerHTML=fecha.format('HH:MM:ss'); //Hora
		celda=fila.insertCell()
		celda.innerHTML=obj[h]['puntos'][i][3]; //Evento
		celda.className="izquierda";
		celda=fila.insertCell()
		celda.innerHTML=obj[h]['puntos'][i][4]/100000; //Latitud
		celda=fila.insertCell()
		celda.innerHTML=obj[h]['puntos'][i][5]/100000; //Longitud
		celda=fila.insertCell()
		celda.innerHTML=obj[h]['puntos'][i][1]/1000; //Odometro
		celda=fila.insertCell()
		celda.innerHTML=obj[h]['puntos'][i][2]/10; //Velocidad
		celda=fila.insertCell()
		celda.innerHTML=obj[h]['puntos'][i][6]; //Altitud
	}

	//contenedor.appendChild(tabla);

}



function cambiartamanio(elemento){
	ne=elemento.parentNode;
	if (ne.style.height!='32px')
		ne.style.height='32px';
	else
		ne.style.height='auto';

}

function next(elem) {
    do {
        elem = elem.nextSibling;
    } while (elem && elem.nodeType !== 1);
    return elem;        
}

var hoy = new Date();
var desde = new Date(hoy.getTime()-24*3600*1000);

document.getElementById("desde").value=desde.format('dd-mm-yyyy HH:MM:ss');
document.getElementById("hasta").value=hoy.format('dd-mm-yyyy HH:MM:ss');





</script>
{% endblock %}